<div class="cpa-form">
  <iframe name="ifrm_icode" id="ifrCCAl" scrolling="no" frameborder="0" width="100%" src="{{form.src}}" title="무료 비교 견적 신청"></iframe>
  <script type="text/javascript" src="{{form.jquery}}"></script>
  <script type="text/javascript" src="{{form.iframeResizer}}"></script>
  <script type="text/javascript">
    if (typeof $ !== 'undefined' && $('#ifrCCAl').length) {
      $('#ifrCCAl').iFrameResize({
        autoResize: true,
        bodyBackground: null,
        bodyMargin: null,
        bodyMarginV1: 0,
        bodyPadding: null,
        checkOrigin: true,
        enablePublicMethods: false,
        heightCalculationMethod: 'offset',
        interval: 32,
        log: false,
        maxHeight: Infinity,
        maxWidth: Infinity,
        minHeight: 0,
        minWidth: 0,
        scrolling: false,
        sizeHeight: true,
        sizeWidth: false,
        tolerance: 0,
        closedCallback: function () {},
        initCallback: function () {},
        messageCallback: function () {},
        resizedCallback: function () {},
        callback: function (messageData) {
          return true;
        },
      });
    }
  </script>
</div>
